---
import DiningImg from '@/assets/dining.jpg'
import { Button } from '@/components/ui/button'
import { Image } from 'astro:assets'
import { CheckCircle2 } from 'lucide-react'
const listData = [
  {
    title: 'The StayLite Restaurant',
    description: 'Fine Dining with panoramic views of the city',
  },
  {
    title: 'Azure Lounge',
    description: 'Casual dining and refreshing cocktails',
  },
  {
    title: 'Skyline Bar',
    description: 'Rooftop bar with stunning city views',
  },
]
---

<section class="bg-muted mt-28">
  <div class="container py-16">
    <div class="lg:grid lg:grid-cols-2 lg:items-center lg:gap-12">
      <!-- First Content -->
      <div class="mb-6 lg:mb-0">
        <h2 class="text-500 md:text-600 mb-1 font-600">
          Exquisite Dining Experience
        </h2>
        <p class="text-muted-foreground text-lg">
          Out restaurants offer a culinary journey featuring local and
          international cuisines prepared by award-winning chefs.
        </p>
        <ul class="mt-6 space-y-4">
          {
            listData.map(({ title, description }) => (
              <li class="flex items-center">
                <div class="bg-primary mr-3 size-6 flex items-center justify-center rounded-full">
                  <CheckCircle2 size={18} className="text-white" />
                </div>

                <div>
                  <h3 class="font-medium">{title}</h3>
                  <p class="text-muted-foreground text-sm">{description}</p>
                </div>
              </li>
            ))
          }
        </ul>

        <a href="/rooms">
          <Button size={'lg'} className="mt-8">View Rooms</Button>
        </a>
      </div>

      <!-- Image Content -->
      <Image
        src={DiningImg}
        alt="Dining Image"
        class="h-full rounded-lg object-cover"
      />
    </div>
  </div>
</section>
